.centered
{
  display:relative;
  width: 30vw;
  height: 40vh;
  margin-left:35vw;
  margin-top: 30vh;
  padding: 5px;
  text-align: center;
  border:1px;
  border-color:  gray;
  border-style:ridge;
}

.title
{
  font-weight: 600;
  font-size:30px;
}

textarea
{
  border:2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  max-width:100%;
  max-height: 35%;
  resize: none;
  font-weight: 200;
  outline:none;
}   
